<div class="centered-form">
  <%= simple_form_for @tool do |f|%>
    <%= f.input :website_url, label: false, placeholder: "Enter your next great tool" %>
    <%= button_tag type: 'submit' do %>
        <i class="fas fa-rocket" aria-hidden="true"></i>
    <% end %>
  <% end %>
</div>
