<div class="wrapper show-card-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="show-card-container">
          <div class="show-card-components">
            <p id="card-components-top">
              <%= image_tag @tool.image_url %> <br>
              <%= link_to @tool.formatting_tool_name(@tool), @tool.website_url %>
            </p>
          </div>
          <%= link_to "", tool_path(@tool), class: "far fa-times-circle show-card-delete-button", data: { confirm: "Delete this tool?" }, method: :delete %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/tool_modal" %>
