// Define variables for your color scheme

// For example:
$red: #5C1C31;
$blue: #95C4C9;
$yellow: #FDB631;
$orange: #FFA639;
$green: #95C4C9;
$light-blue: #E8F7EE;
$dark-green: #272D2D;
$gray: #000000;
$light-gray: #F4F4F4;
