.tools-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;

  h1 {
    margin: 10px;
    padding: 50px;
    color: black;
    width: 100%;
    text-align: center;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 1px solid white;
    background-color: white;
  }
}


