.card {
  height: 200px;
  margin: 0 0 20px 0;
  padding: 5px;
  box-shadow: 1px 1px 3px #A6838E;
  border-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative; /*needed to position the link over the whole card*/
}

/*------------------------------ CARD COMPONENTS ------------------------------*/

.card-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*--------------------------------- CARD LINKS ---------------------------------*/

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*-------------------------------- SEPARATION LINE -----------------------------*/

.separation-line {
  border-top: 1px solid black;
  width: 90%;
  margin: 15px 0;
}
