.show-card-wrapper {
  margin-top: calc(50vh - 70px);
  transform: translateY(-43%);
}

/*------------------------------ CARD CONTAINER ------------------------------*/

.show-card-container {
  position: relative;
  background: white;
  box-shadow: 1px 1px 8px #33333385;
  border-radius: 4px;
}


/*------------------------------ CARD COMPONENTS -----------------------------*/


.show-card-components {
    padding: 30px;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 35px;
  }

  #card-components-top {
    a {
      font-size: 40px;
      text-decoration: none;
    }

    img {
      height: 100px;
    }
  }

  .card-components-sub-section {
    display: flex;
    flex-direction: row;
  }

  #card-components-center {
    text-align: justify;
  }

  #card-components-bottom {

  }
}


/*---------------------------- CARD DELETE BUTTON ----------------------------*/

.show-card-delete-button {
  position: absolute;
  top: 6px;
  right: 10px;
}


/*---------------------------- CARD RESPONSIVENESS ---------------------------*/


/*@media (width: 800px) {
  .show-card-components {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }
}*/






