.show-card-wrapper {
  margin-top: calc(50vh - 70px);
  transform: translateY(-43%);
}

/*------------------------------ CARD CONTAINER ------------------------------*/

.show-card-container {
  position: relative;
  background: white;
  height: 500px;
  box-shadow: 1px 1px 8px #33333385;
  border-radius: 4px;
}

.tags-section {

  display: flex;
  align-items: center;
  justify-content: center;

  #tags {
    margin: 10px;
    border: 1px solid;
    border-radius: 30px;
    padding: 5px 35px;
    font-size: 10px;
    min-height: 20px;
    min-width: 100px;
    text-align: center;
  }
}


/*-------------------------------- CARD HEADER -------------------------------*/

.show-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;

  #tagline {
    font-size: 50px;
    font-family: arial black;
    text-align: center;
    margin: 0;
  }

}

.show-card-components {
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px 0;
    padding: 20px;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
  }

  #card-components-left {
    display: flex;
    flex-direction: column;

    a {
      font-size: 40px;
      text-decoration: none;
    }

    img {
      height: 100px;
    }
  }

  #card-components-center {
    text-align: justify;
  }

  #card-components-right {
    display: flex;
    flex-direction: row;
  }
}


/*---------------------------- CARD DELETE BUTTON ----------------------------*/

.show-card-delete-button {
  position: absolute;
  top: 6px;
  right: 10px;
}


/*---------------------------- CARD RESPONSIVENESS ---------------------------*/


@media (max-width: 800px) {
  .show-card-components {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }
}

@media (max-width: 1000px) {
.show-card-container{
    height: 800px;
  }
}






